/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
	/*PROPRIEDADES*/
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (max-width: 600px) {
	/*PROPRIEDADES*/
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (max-width: 768px) {
	/*PROPRIEDADES*/
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (max-width: 992px) {
	/*PROPRIEDADES*/
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (max-width: 1200px) {
	header{
        flex-direction: column;
    }
    #title{
        margin-top: 30px;
        margin-bottom:10px;
    }
    main{
        flex-direction: column;
        margin-top: 200px;
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside p{
        width: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    aside form{
        width: 40%;
    }
    
}